$colour-root-bg: #121516;
$colour-panel-bg: #1b2021;
$colour-panel-fg: #ffffff;

$colour-form-field-bg: #2a3135;
$colour-form-field-bg-highlight: #323b3f;
$colour-form-field-bg-highlight-brighter: #3d484c;
$colour-form-field-bg-highlight-brightest: #475459;
$colour-form-field-fg: #ffffff;
// $colour-form-field-placeholder: #56646b;
$colour-form-field-placeholder: #ddd;

$control-colour: #3fb8af;

$leaflet-blue: #3388ff;
$leaflet-blue-rgba-min: rgba(51, 136, 255, 0);
$leaflet-blue-rgba-med: rgba(51, 136, 255, 0.5);
$leaflet-blue-rgba-max: rgba(51, 136, 255, 1);

$light-on-dark: #26a69a;