@font-face {
  font-family: "Railway Sans";
  src: url("./railway.woff2") format("woff2"),
    url("./railway.woff") format("woff");
}

@font-face {
  font-family: "Universal";
  src: url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.eot");
  src: url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.svg#P22BayerW00-Universal")
      format("svg");
}
