.tooltip {
  position: absolute;
  max-width: 31%;
  z-index: 9;
  pointer-events: none;
  .MuiPaper-root {
    padding: 1em;
  }
}

.geocoder {
  z-index: 4;
  margin: 0 auto 10px;
  width: 31%;
  max-width: calc(100% - 200px);
  transition: width .175s ease-in-out;
  &:focus-within {
    width: 69%;
  }
}
