@import "colours";

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;

  &.dark {
    background: $colour-root-bg;
  }
}

.geocoder {
  z-index: 4;
  margin: 0 auto 10px;
  width: 31%;
  max-width: calc(100% - 200px);
  transition: width .175s ease-in-out;
  &:focus-within {
    width: 69%;
  }
}
